<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nhie.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/app.css">
</head>
<body class="nhie-layout">
<div id="js-language-selection" class="nhie-language-selection nhie-language-selection--hidden">
    <label class="nhie-language-selection__label">
        <input class="nhie-language-selection__input" type="radio" name="language" value="en" {{if eq .Language "en"}} checked {{end}}>english
    </label>
    <label class="nhie-language-selection__label">
        <input class="nhie-language-selection__input" type="radio" name="language" value="de" {{if eq .Language "de"}} checked {{end}}>deutsch
    </label>
</div>
<header class="nhie-top-app-bar">
    <div class="nhie-top-app-bar__row">
        <section class="nhie-top-app-bar__section nhie-top-app-bar__section--align-start">
            <span class="nhie-top-app-bar__title">nhie.io</span>
        </section>
        <section class="nhie-top-app-bar__section nhie-top-app-bar__section--align-end">
            <button id="js-language-selection__toggle" class="nhie-top-app-bar__icon-button" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z"/></svg>
            </button>
        </section>
    </div>
    <div class="nhie-linear-progress nhie-linear-progress--disabled">
        <div class="nhie-linear-progress__buffer"></div>
        <div class="nhie-linear-progress__bar nhie-linear-progress__bar--primary"></div>
        <div class="nhie-linear-progress__bar nhie-linear-progress__bar--secondary"></div>
    </div>
</header>
<main class="nhie-layout__content">
    <div class="nhie-category-selection">
        <label class="nhie-category__label">
            <input class="nhie-category__input" type="checkbox" name="category" value="harmless" {{if .Categories.Harmless}} checked {{end}}>
            <img class="nhie-category__icon" src="/static/mojito.svg" width="56" height="72" alt="Mojito">
            <span class="nhie-category__description">harmless</span>
        </label>
        <label class="nhie-category__label">
            <input class="nhie-category__input" type="checkbox" name="category" value="delicate" {{if .Categories.Delicate}} checked {{end}}>
            <img class="nhie-category__icon" src="/static/beer.svg" width="56" height="72" alt="Beer">
            <span class="nhie-category__description">delicate</span>
        </label>
        <label class="nhie-category__label">
            <input class="nhie-category__input" type="checkbox" name="category" value="offensive" {{if .Categories.Offensive}} checked {{end}}>
            <img class="nhie-category__icon" src="/static/wine.svg" width="56" height="72" alt="Wine">
            <span class="nhie-category__description">offensive</span>
        </label>
    </div>
    <div class="nhie-statement" data-id="{{.Statement.ID}}">{{.Statement.Statement}}</div>
</main>
<footer class="nhie-footer">
    <a class="nhie-footer__element" href="https://github.com/nhie-io" target="_blank" rel="noopener noreferrer">GitHub</a>
    <a class="nhie-footer__element" href="https://nhie.goatcounter.com" target="_blank" rel="noopener noreferrer">Analytics</a>
</footer>
<script type="text/javascript" src="/static/app.js"></script>
</body>
</html>