<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Never Have I Ever</title>
    <meta name="description" content="Bringing the infamous drinking game to the web.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/app.css">
</head>
<body class="nhie-layout nhie-theme {{if .Preferences.InvertColorScheme}} nhie-theme--invert {{end}}">
<div id="js-language-selection" class="nhie-language-selection nhie-language-selection--hidden">
    <label class="nhie-language-selection__label {{if eq .Language "en"}} nhie-language-selection__label--selected {{end}}">
        <input class="nhie-language-selection__input" type="radio" name="language" value="en" {{if eq .Language "en"}} checked {{end}}>english
    </label>
    <label class="nhie-language-selection__label {{if eq .Language "de"}} nhie-language-selection__label--selected {{end}}">
        <input class="nhie-language-selection__input" type="radio" name="language" value="de" {{if eq .Language "de"}} checked {{end}}>deutsch
    </label>
</div>
<header class="nhie-top-app-bar">
    <div class="nhie-top-app-bar__row">
        <section class="nhie-top-app-bar__section nhie-top-app-bar__section--align-start">
            <span class="nhie-top-app-bar__title">nhie.io</span>
        </section>
        <section class="nhie-top-app-bar__section nhie-top-app-bar__section--align-end">
            <button id="js-invert-color-scheme__toggle" class="nhie-top-app-bar__icon-button" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Invert Mode</title><path d="M414.39 97.61A224 224 0 1097.61 414.39 224 224 0 10414.39 97.61zM256 432v-96a80 80 0 010-160V80c97.05 0 176 79 176 176s-78.95 176-176 176z"/><path d="M336 256a80 80 0 00-80-80v160a80 80 0 0080-80z"/></svg>
            </button>
            <button id="js-language-selection__toggle" class="nhie-top-app-bar__icon-button" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Globe</title><path d="M256 48C141.13 48 48 141.13 48 256s93.13 208 208 208 208-93.13 208-208S370.87 48 256 48z" fill="none" stroke-miterlimit="10" stroke-width="44"/><path d="M256 48c-58.07 0-112.67 93.13-112.67 208S197.93 464 256 464s112.67-93.13 112.67-208S314.07 48 256 48z" fill="none" stroke-miterlimit="10" stroke-width="44"/><path d="M117.33 121.33c38.24 27.15 86.38 43.34 138.67 43.34s100.43-16.19 138.67-43.34M394.67 390.67c-38.24-27.15-86.38-43.34-138.67-43.34s-100.43 16.19-138.67 43.34" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="44"/><path fill="none" stroke-miterlimit="10" stroke-width="44" d="M256 48v416M464 256H48"/></svg>
            </button>
        </section>
    </div>
    <div class="nhie-linear-progress nhie-linear-progress--disabled">
        <div class="nhie-linear-progress__buffer"></div>
        <div class="nhie-linear-progress__bar nhie-linear-progress__bar--primary"></div>
        <div class="nhie-linear-progress__bar nhie-linear-progress__bar--secondary"></div>
    </div>
</header>
<main class="nhie-layout__content">
    <form id="js-form" action="/statements/next">
        <div id="js-category-selection" class="nhie-category-selection">
            <label class="nhie-category__label">
                <input class="nhie-category__input" type="checkbox" name="category" value="harmless" {{if .Categories.Harmless}} checked {{end}}>
                <img class="nhie-category__icon" src="/static/mojito.svg" width="56" height="72" alt="Mojito">
                <span class="nhie-category__description">harmless</span>
            </label>
            <label class="nhie-category__label">
                <input class="nhie-category__input" type="checkbox" name="category" value="delicate" {{if .Categories.Delicate}} checked {{end}}>
                <img class="nhie-category__icon" src="/static/beer.svg" width="56" height="72" alt="Beer">
                <span class="nhie-category__description">delicate</span>
            </label>
            <label class="nhie-category__label">
                <input class="nhie-category__input" type="checkbox" name="category" value="offensive" {{if .Categories.Offensive}} checked {{end}}>
                <img class="nhie-category__icon" src="/static/wine.svg" width="56" height="72" alt="Wine">
                <span class="nhie-category__description">offensive</span>
            </label>
        </div>
        <div class="nhie-statement" data-id="{{.Statement.ID}}">{{.Statement.Statement}}</div>
    </form>
</main>
<footer class="nhie-footer">
    <a class="nhie-footer__element" href="https://github.com/nhie-io" target="_blank" rel="noopener noreferrer">GitHub</a>
    <a class="nhie-footer__element" href="https://nhie.goatcounter.com" target="_blank" rel="noopener noreferrer">Analytics</a>
</footer>
<script type="text/javascript" src="/static/app.js"></script>
</body>
</html>